.page-notfound{
    h1{
        color : red;
        display : block;
        padding : 10px;
        font-weight : bold;
    }
    span{
        display : inline-block;
        margin : 0px 10px 10px;
        font-size : 20px;
        color : #444;
    }
    .img-container{
        display : block;
        margin : 0 auto;
        position: relative;
        width : 80%;
        margin-bottom : 40px;
        border-radius: 10px;
        overflow : hidden;
        div{
            position: absolute;
            display : block;
            height : 100%;
            width : 100%;
            background-color : rgba(255, 0, 0, 0.384);
            z-index : 10000;
        }
        img{
            width : 100%;
        }
    }
}